spreadsheetId=
tourDescription=Meine Tour 2020
tourPrefix=MT
outputDir=out
copyrightAuthor="Peter Franz"
autorEmail="peter@example.org"
autorLink=https://www.komoot.de/user/99999999999
cookies="_ga=GA1.2.679…"